{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block body %}
<form style="border:1px solid #ccc" method="post">
    {% csrf_token %}
  <div class="container">
    <h1>Update student</h1>
    <label for="email"><b>First name</b></label>
    <input type="text" placeholder="Enter First name" name="fname" required>

    <label for="email"><b>Last name</b></label>
    <input type="text" placeholder="Enter Last name" name="lname" required>

    <label for="email"><b>Age</b></label>
    <input type="text" placeholder="Enter age" name="age" required>
   
    <div class="clearfix">
        <button type="submit" class="signupbtn">Update</button>
    </div>
  </div>
</form>

{% endblock body %}
    